// Define variables for your color scheme

$main-gray: #454E72;
$main-light-blue: #5F9AC8;
$main-light-blue-gray: #7483C2;
$main-blue-purple: #2c2c59;
$main-red: #ff1b62;
$main-green: #7AEE9E;
$main-purple: #6847DA;



