* {
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEF2FF;
  background: -o-linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEF2FF;
  background: linear-gradient(#FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EEF2FF;
}
section.home-container {
  .home-banner {
    height: 100vh;
  }
}

// MAP CONTAINER //

.map-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  .equipments-list {
    padding: 10px;
    padding-top: 100px;
    width: 55%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    overflow-x: scroll;
    .card {
      flex: 1 1 300px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .map, .map-ajax {
    padding: 10px;
    width: 45%;
  }
  .filters-container {
    top: 4%;
    z-index: 10;
    display: flex;
    width: 100%;
    transition: all .7s ease-out;
    #filters-form {
      width: 50%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      .search-form-with-ajax {
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
      }
      .submit-with-ajax {
        border-radius: 5px;
        background-color: $red;
        border-color: $red;
      }
    }
  }
}

// SOME CLASSES HANDLED WITH JS //

// .align-left {
//   float: left;
// }
// .align-right {
//   float: right;
// }

.show-up {
  opacity: 0;
  transform: scale(0.90);
  transition: all 2s;
}
.show-up.active {
  opacity: 1;
  transform: scale(1);
}

// .slide-in {
//   opacity: 0;
//   transition: all 1s;
// }
// .align-left.slide-in {
//   transform: translateX(-30%) scale(0.95);
// }
// .align-right.slide-in {
//   transform: translateX(30%) scale(0.95);
// }
// .slide-in.active {
//   opacity: 1;
//   transform: translateX(0%) scale(1);
// }
