input[type="radio"] {
  position: fixed;
  top: -100vh;
}
label {
  opacity: 0.5;
}
#first:checked ~ label[for="first"],
#second:checked ~ label[for="second"],
#third:checked ~ label[for="third"],
#fourth:checked ~ label[for="fourth"] {
  opacity: 1;
}
.slider {
  // position: fixed;
  width: 4 * 100vw;
  transform: translateX(0);
}
.slide {
  float: left;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  .left-slide-container {
    width: 100%;
    height: 100%;
  }
  .right-slide-container {
    width: 100%;
    height: 100%;
  }
}

#first:checked ~ .slider {
  transform: translateX(0);       // Visible part is the 1st slide
}
#second:checked ~ .slider {
  transform: translateX(-100vw);  // Translate back to show 2nd slide
}
#third:checked ~ .slider {
  transform: translateX(-200vw);  // Translate back to show 3rd slide
}
#fourth:checked ~ .slider {
  transform: translateX(-300vw);  // Translate back to show 4th slide
}
