section.user-profil-container {
  height: 100vh;
  background-color: $dark-blue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mileup-logo {
    position: absolute;
    top: 15%;
    svg {
      width: 200px;
      height: 200px;
    }
  }
  #start-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    a {
      text-decoration: none
    }
    form {
      width: 50%;
    }
    .text-about-first-name, .text-about-gender, .text-about-age, .text-about-frequencies, .text-about-interests, .text-about-avatar {
      margin-bottom: 30px;
      text-align: center;
    }
    .field {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    label {
      color: white;
      font-weight: lighter;
      cursor: pointer;
      user-select: none;
    }
    input {
      outline: none;
    }
    input[type="file"] {
      // display: none;
      color: $light-blue-2;
    }
    input[type="text"] {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-blue-2;
      margin-bottom: 20px;
      text-align: center;
      &:focus {
        outline: none;
        color: $light-blue-2;
      }
    }
    input[type="radio"]{
      display: none;
    }
    input[type="radio"] + label:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.2rem;
      content: "\f111";
      color: #1a1a33;
      margin-right: 10px;
    }
    input[type="radio"]:checked + label:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.2rem;
      content: "\f00c";
      color: white;
      margin-right: 10px;
      background: linear-gradient(270deg, #6847DA 0%, rgba(255, 255, 255, 0) 97.29%), #5F9AC8;
      padding: 2px;
      border-radius: 50%;
    }
    select {
      background: transparent;
      color: $light-blue-2;
      border: none;
      outline: none;
    }
    .mileup-welcoming-text {
      position: absolute;
      top: 40%;
      font-size: $header-font-size;
    }
    .buttons-container {
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 65%;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    #next-to-gender, #next-to-age, #next-to-frequencies, #next-to-interests, #next-to-avatar {
      a {
        color: white;
        display: flex;
        &:after {
          content: "\f061";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: white;
          margin-left: 10px;
        }
      }
    }
    #pass-to-age, #pass-to-frequencies, #pass-to-interests, #pass-to-avatar {
      a {
        color: white;
      }
    }
  }
  .submit-user-form {
    display: flex;
    justify-content: center;
  }
}

// RESPONSIVE VERSION //

@media (max-width: 740px) {
  section.user-profil-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
    form {
      width: 80% !important;
      margin: auto;
    }
    .mileup-logo {
      svg {
        width: 136px;
        height: 110px;
      }
    }
    .mileup-welcoming-text {
      top: 38% !important;
    }
    .buttons-container {
      top: 90% !important;
      justify-content: space-between !important;
    }
    #start-form {
      .transparent-button {
        margin-top: 250%;
      }
    }
  }
}
