<div class="socials-banner">
  <div class="text">Vous pouvez nous suivre sur les réseaux</div>
  <div class="links">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
  </div>
</div>

<div class="footer-banner">
  <div class="footer-container">
    <div class="header">LIEN UTILES</div>
    <div class="separate-border"></div>
    <div class="links">
      <%= link_to "Devenir partenaire" %>
      <%= link_to "S'inscrire", new_user_registration_path %>
      <%= link_to "Se connecter", new_user_session_path %>
    </div>
  </div>
  <div class="footer-container">
    <div class="header">CONTACT</div>
    <div class="separate-border"></div>
    <div class="links">
      <div class="content">
        <i class="fas fa-home mr-1"></i>
        <div class="text">64 rue d'Amsterdam, Paris 75009</div>
      </div>
      <div class="content">
        <i class="fas fa-envelope-open mr-1"></i>
        <div class="text">medhi@mileup.eu</div>
      </div>
    </div>
  </div>
</div>
