<div class="scrolling-wrapper absolute">
  <% if @equipments %>

    <div class="arrow-container">
      <i class="fas fa-chevron-left" id="left-paddle"></i>
      <i class="fas fa-chevron-right" id="right-paddle"></i>
    </div>

    <div class="scrolling-equipments-container">
      <% @equipments.each do |equipment| %>
        <div class="equipment-card" data-lat="<%= equipment.lat %>" data-lng="<%= equipment.lng %>">
          <div class="illustration-card">
            <!-- equipment.illustration -->
          </div>
          <div class="informations-card">
            <div class="activity">
              <%= equipment.activity %>
            </div>
            <!-- distance to walk -->
            <!-- time to walk -->
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
