
              <!-- UNVISIBLE INPUTS -->

<input type="radio" id="first" name="slide-choice">
<input type="radio" id="second" name="slide-choice">
<input type="radio" id="third" name="slide-choice">
<input type="radio" id="fourth" name="slide-choice">

<!-- ################################################## -->

<label for="first">●</label>
<label for="second">●</label>
<label for="third">●</label>
<label for="fourth">●</label>

<div class="slider">
  <div class="slide" id="first-slide">
    <div class="left-slide-container">
      CONTENU DE GAUCHE
    </div>
    <div class="right-slide-container">
      <%= svg('slide-1') %>
    </div>
  </div>

  <div class="slide" id="second-slide">
    <div class="left-slide-container">
      CONTENU DE GAUCHE
    </div>
    <div class="right-slide-container">
      <%= svg('slide-2') %>
    </div>
  </div>

  <div class="slide" id="third-slide">
    <div class="left-slide-container">
      CONTENU DE GAUCHE
    </div>
    <div class="right-slide-container">
      <%= svg('slide-3') %>
    </div>
  </div>

  <div class="slide" id="fourth-slide">
    <div class="left-slide-container">
      CONTENU DE GAUCHE
    </div>
    <div class="right-slide-container">
      <%= svg('slide-1') %>
    </div>
  </div>
</div>
