<section class="not-found">
  <div class="contents">
    <h1>404</h1>
    <div class="content">Cette page n'existe pas ou n'existe plus</div>
    <div class="content">Nous vous prions de nous excuser pour la gêne occasionnée</div>
    <div class="content-link">
      Nous vous invitons à revenir à la <%= link_to "page d'accueil", root_path, class: "link" %> de notre site
    </div>
  </div>
</section>
