<section class="errors">
  <div class="contents">
    <h1><span>4</span>22</h1>
    <div class="content">ARF, NOUS NE SOMMES PAS EN MESURE RÉPONDRE POSITIVEMENT. . .</div>
    <div class="content-link"><%= link_to "page d'accueil", root_path, class: "transparent-green-button" %></div>
</section>
