<%= simple_form_for [@user, @user_profil], :html => {:class => "sport-profil hidden"} do |f| %>
  <div class="field">
    <%= f.input :age, collection: 12..70, label: "Si tu souhaites m'indiquer ton âge : " %>
  </div>
<% end %>
