<%= simple_form_for [@user, @user_profil], :html => {:class => "profil"} do |f| %>

  <div class="field">
    <h6 class="text-white">Faisons connaissance, tu es plutôt :</h6>
    <%= f.collection_radio_buttons :gender, [["Un homme", "Un homme"], ["Une femme", "Une femme"]], :first, :last %>
  </div>

  <div id="profil">
    <%= link_to remote: true do %>
      <div class="transparent-button mt-5">
        Valider
      </div>
    <% end %>
  </div>

<% end %>

