<%= simple_form_for [@user, @user_profil], :html => {:class => "sport-frequencies hidden"} do |f| %>
  <div class="field">
    <%= f.input :sport_frequencies, collection: @collection, label: "A quelle fréquence pratiques-tu une activité physique : " %>
  </div>
<% end %>
