<%= simple_form_for [@user, @user_profil], :html => {:class => "sport-interests hidden"} do |f| %>
  <div class="field">
    <%= f.input :sport_interests, label: "Quel intérêt recherches-tu dans le sport : " %>
  </div>
<% end %>
