.login-button {
  padding: 10px 40px;
  // background: linear-gradient(to right, white 50%, #6847DA 0%, rgba(255, 255, 255, 0) 97.29% 50%), #5F9AC8;
  // background-size: 200% 100%;
  // background-position: right bottom;
  transition: all .3s ease-out;
  background: linear-gradient(270deg, #6847DA 0%, rgba(255, 255, 255, 0) 97.29%), #5F9AC8;
  color: white;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: $button-font-size;
  border: none;
  &:hover {
    // background-position: left bottom;
    // color: $main-purple;
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }
}

.login-button-large {
  padding: 10px 85px;
  transition: all .3s ease-out;
  background: linear-gradient(270deg, #6847DA 0%, rgba(255, 255, 255, 0) 97.29%), #5F9AC8;
  color: white;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: $button-font-size;
  &:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }
}

.navbar-login-button {
  /////////////////////////////////
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /////////////////////////////////
  padding: 10px 40px;
  color: white;
  border-radius: 50px;
  border: 2px solid white;
  font-size: $button-font-size;
  &:hover {
    transition: all .3s ease-out;
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }
}

.green-button {
  padding: 10px 40px;
  background: linear-gradient(270deg, #7AEE9E 0%, rgba(255, 255, 255, 0) 97.29%), #4ED09B;
  color: white;
  border-radius: 50px;
  transition: all .3s ease-out;
  box-shadow: 1px 1px 25px #7AEE9E;
  font-size: $button-font-size;
  a {
    text-decoration: none
  }
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 25px #4ED09B;
    cursor: pointer;
  }
}

.dark-blue-button {
  padding: 10px 40px;
  background: #6847DA;
  color: white;
  border-radius: 50px;
  transition: all .3s ease-out;
  font-size: $button-font-size;
  a {
    text-decoration: none
  }
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 25px #6847DA;
    cursor: pointer;
  }
}

.facebook-button {
  padding: 10px 40px;
  transition: all .3s ease-out;
  background: #3C5A99;
  color: white;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: $button-font-size;
  &:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
  }
}

.transparent-button {
  padding: 10px 40px;
  color: white;
  border-radius: 50px;
  border: 2px solid white;
  font-size: $button-font-size;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  &:hover {
    transition: all .5s ease-out;
    color: $dark-blue;
    text-decoration: none;
    background-position: left bottom;
    cursor: pointer;
  }
}

.transparent-green-button {
  padding: 10px 20px;
  color: $green;
  border-radius: 50px;
  border: 2px solid $green;
  font-size: $button-font-size;
  background: linear-gradient(to right, $green 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  &:hover {
    transition: all .5s ease-out;
    color: white;
    text-decoration: none;
    background-position: left bottom;
    cursor: pointer;
  }
}
