.login-button {
  padding: 10px 40px;
  background: linear-gradient(to right, white 50%, #6847DA 0%, rgba(255, 255, 255, 0) 97.29% 50%), #5F9AC8;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .7s ease-out;
  color: white;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: $button-font-size;
  &:hover {
    background-position: left bottom;
    color: $main-purple;
    text-decoration: none;
  }
}

