.scrolling-wrapper {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 77%;
  .arrow-container {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    i {
      font-size: 2rem;
      color: $dark-blue;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .scrolling-equipments-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 80%;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .equipment-card {
      flex: 0 0 auto;
      margin-right: 50px;
      border-radius: 10px;
      width: 300px;
      height: 150px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      display: flex;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }
      .illustration-card {
        height: 100%;
        width: 40%;
        background: white;
        border-radius: 10px 0 0 10px;
      }
      .informations-card {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        background-color: white;
        border-radius: 0 10px 10px 0;
        .activity {
          display: flex;
          justify-content: center;
          font-size: $small-font-size;
          color: $blue-gray;
        }
      }
    }
  }
}
