
// SOME USEFULL CLASSES //

    // FLEX BOX TRICKS //
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

    // DISPLAYING TRICKS //
.visibility-hidden {
  visibility: hidden;
}

.hidden {
  display: none;
}

    // POSITION TRICKS //
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

    // TEXT //
.white-text {
  color: white;
}

.bolder {
  font-weight: bolder;
}
