
// SOME USEFULL CLASSES //

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex {
  display: flex !important;
}

.visibility-hidden {
  visibility: hidden;
}

.hidden {
  display: none;
}
