
// MAP HOME //

#map {
  width: 100%;
  height: 100%;
  // border: 3px solid $main-purple;
  // border-radius: 10px;
}
.mapboxgl-canvas {
  // border-radius: 7px;
}
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-ctrl-top-right {
  top: 92% !important;
}

// MAP ON EQUIPMENT PAGE //

#equipment-map {
  width: 50%;
  height: 100%;
}
