.navbar-mileup {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 10px;
  // background-color: $dark-blue;
  // position: fixed;
  // width: 100%;
  // top: 0;
  // z-index: 10;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar-mileup .navbar-collapse {
  flex-grow: 0;
}
.navbar-mileup svg {
  width: 60px;
  height: 60px;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $dark-blue;
      margin-right: 15px;
      &:hover {
        text-decoration: underline;
        // color: white;
      }
    }
    .nav-item {
      display: flex;
      align-items: baseline;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

// CLASSES ABOUT JS ANIMATION //

.navbar-transform {
  transform: translateY(-100%);
  transition: all .7s ease-out;
}
.searchbar-transform {
  transition: all .7s ease-out;
  top: 4%;
}
#becoming-partner {
  margin-right: 10px;
}
