.navbar-mileup {
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-mileup-border {
  border: 1px solid black;
}

.navbar-mileup .navbar-collapse {
  flex-grow: 0;
}

.navbar-mileup .navbar-brand svg {
  width: 80px;
  height: 80px;
}

.navbar-nav {
  .nav-link {
    color: $main-purple !important;
  }
}
