.navbar-mileup {
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: all .7s ease-out;
}

.navbar-mileup .navbar-collapse {
  flex-grow: 0;
}

.navbar-mileup .navbar-brand svg {
  width: 60px;
  height: 60px;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $main-purple;
      transition: all .7s ease-out;
    }
  }
}

// SOME CLASSES HANDLED WITH JS //

.navbar-mileup-purple {
  background-color: $main-purple;
  transition: all .7s ease-out;
}
.nav-link-white {
  color: white !important;
  transition: all .7s ease-out;
}
